<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <div th:replace="fragments/css.html :: css"></div>
    <title>Nemo</title>
</head>
<body>
<div th:replace="fragments/header.html :: header"></div>
<main>
    <div class="container">
        <div class="alert alert-danger">Something bad just happened! Please try
            again later...
        </div>
    </div>
</main>
<div th:replace="fragments/footer.html :: footer"></div>
<div th:replace="fragments/js.html :: js"></div>
</body>
</html>